async-timeout==4.0.2
cached-property==1.5.2
certifi==2021.5.30
cffi @ file:///tmp/build/80754af9/cffi_1613246439577/work
charset-normalizer==2.0.12
click==8.0.4
dataclasses==0.8
Deprecated==1.2.13
Flask==2.0.3
Flask-Cors==3.0.10
h5py==3.1.0
idna==3.3
importlib-metadata==4.8.3
itsdangerous==2.0.1
Jinja2==3.0.3
joblib==1.1.0
jsonpatch==1.32
jsonpointer==2.2
markdown2==2.4.2
MarkupSafe==2.0.1
nltk==3.6.7
numpy @ file:///home/conda/feedstock_root/build_artifacts/numpy_1588605080954/work
packaging==21.3
Pillow==8.4.0
pycparser @ file:///home/conda/feedstock_root/build_artifacts/pycparser_1636257122734/work
pyparsing==3.0.8
pyzmq==22.3.0
redis==4.2.2
regex==2022.1.18
requests==2.27.1
scikit-learn==0.24.2
scipy==1.5.4
six==1.16.0
sklearn==0.0
threadpoolctl==3.1.0
torch==0.4.1.post2
torchfile==0.1.0
tornado==6.1
tqdm==4.62.3
typing_extensions==4.1.1
urllib3==1.26.8
visdom==0.1.8.9
websocket-client==1.2.3
Werkzeug==2.0.3
wrapt==1.14.1
zipp==3.6.0
